
{% extends "base.html" %}

{% block content %}
<div class=" container-fluid " id="dashboard">
    <div class="loader"></div>
    <div class="InternetCheck" ></div>
    <h3 id="page-title"> Dashboard </h3>
    <div class="ms-md-auto d-flex align-items-center">
        <button class=" btn-dashboard btn-sm me-4 " type="button" id="addItemBtn"><i class="fs-6 bi-plus-circle-fill "></i> <span class="btn-dashboard-text p-1"> Add Item </span> </button>
        <button class=" btn-dashboard btn-sm me-4 " type="submit" id=""> <i class="fs-6 bi-bar-chart-line-fill"></i> <span class="btn-dashboard-text p-1"> Report</span></button>
        <button class=" btn-dashboard btn-sm me-4 " type="button" id="addOrderBtn"><i class="fs-6 bi-cart-plus-fill"></i> <span class="btn-dashboard-text p-1">Add Order</span></button>
    </div>
    <div class="ms-auto d-flex mt-4" id="row-base-1">
        <div class="" id="col-report">
            <h3 id="dashboard-report">Inventory Summary</h3>
            <div class="container" id="Inventory-Summary-box"> </div>

        </div>
        <div class=" mx-3" id="col-report">
            <h3 id="dashboard-report">Number of Item Checkout</h3>
            <div class="container" id="itemCheckout"> </div>

        </div>
        <div class=" mx-1" id="col-report">
            <h3 id="dashboard-report">Total Expense</h3>
            <div class="chart" data-percent="90" > </div>
            <p class="money-spend mx-4">Money spend during the Month</p>
            <p class="expense-pre"> </p>
            <p class="money mx-4"></p>
            

        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content-box">
          <span class="close">&times;</span>
          <h3 class="modal-title"> Add New Item </h3>
          <form name="addItem-form" class="" action="{{ url_for('dashboard') }}" id="addForm" method="POST" enctype="multipart/form-data">
            <div class="row" id="addItem">
                <div class="col-1 file-box upload-btn-wrapper">
                    <div class="fileupload">
                        <img id="output-additem" src="" alt="" width="100" height="100">
                    </div>
                    <br>
                    <div class="filename-additem"><i class=" fs-5 bi bi-card-image"></i> <span id="imageName-additem"></span></div>
                    <label class="form-label"for="myFile-additem" id="upload"> Upload Image</label>
                    <input type="file" id="myFile-additem" name="filename" onchange="loadFileItem(event)" >
                </div>
                
                <div class="col-3" id="form-col-1">
                    <label class="form-label"for="itemName"> Item Name:</label>
                        <br>
                    <input type="text" id="itemName" name="itemName" required>
                        <br>
                    <p class="mt-5">
                        <label class="form-label"for="stock"> Stock:</label>
                        <br>
                        <input type="number" min=0 max=100 id="stock" name="stock" required pattern="^[0-9]*$">
                    </p>

                    <br>
                    <p class="mt-5">
                        <label class="form-label"for="brand"> Brand:</label>
                        <br>
                        <select id="brand" name="brand" required>
                            <option value=""></option>
                            <option value="APPLETON">APPLETON</option>
                            <option value="APERROL">APERROL</option>
                            <option value="CAMPARI">CAMPARI</option>
                            <option value="CANDY CRAZE">CANDY CRAZE</option>
                            <option value="CB">CB</option>
                            <option value="CWP">CWP</option>
                            <option value="ICOOL">ICOOL</option>
                            <option value="DIGICEL">DIGICEL</option>
                            <option value="GUARDSMAN">GUARDSMAN</option>
                            <option value="Hi-LO">Hi-LO</option>
                            <option value="HODDER">HODDER</option>
                            <option value="JFDF">JFDF</option>
                            <option value="KBAN">KBAN</option>
                            <option value="KFC">KFC</option>
                            <option value="KGN 62">KGN 62</option>
                            <option value="MAYBERRY">MAYBERRY</option>
                            <option value="MYSTIQUE">MYSTIQUE</option>
                            <option value="PIZZA HUT">PIZZA HUT</option>
                            <option value="PRICESMART">PRICEMART</option>
                            <option value="RAINFOREST">RAINFOREST</option>
                            <option value="SCOTIA">SCOTIA</option>
                            <option value="SUMFEST">SUMFEST</option>
                            <option value="WOP">WOP</option>   
                        </select>
                    </p>

                    <p class="mt-5">
                        <label class="form-label"for="department"> Department:</label>
                        <br>
                        <select id="department" name="department" required>
                            <option value=""></option>
                            <option value="Operation">Operation</option>
                            <option value="AE">AE</option>
                            <option value="LAPD">LAPD</option>
                            <option value="DIGIMONS">DIGIMONS</option>
                            <option value="CPU">CPU</option>
                            <option value="PR">Pr</option>
                        </select>
                    </p>

                 
                    <p class="mt-5">
                        <label class="form-label"for="freqChange"> Frequent items:</label>
                        <br>
                        <select id="freqChange" name="freqChange">
                            <option value=""></option>
                            <option value="yes">yes</option>
                            <option value="no"> no</option>
                        </select>
                    </p>

                </div>
                <div class="col-3 pt-1 px-5" id="form-col-2">
                    <label class="" for="Description">Description:</label> 
                    <br>
                    <input type="text" id="Description" name="Description" required>

                    <br>
                    <p class="mt-5 pt-2" id="formCell">
                        <label class="form-label"for="comment"> Comment:</label>
                        <br>
                        <input type="text" id="comment" name="comment" required>
                    </p>

                    <br>
                    <p class="mt-5 pt-1" id="formCell">
                        <label class="form-label"for="category"> Category:</label>
                        <br>
                        <select id="category" name="category" required>
                            <option value=""></option>
                            <option value="Office Item">Office Item</option>
                            <option value="Kitchen Item">Kitchen Item</option>
                            <option value="Bathroom Item">Bathroom Item</option>
                            <option value="Brand Item">Brand Item</option>
                        </select>
                    </p>
                    <p class="mt-4 pt-3" id="formCell">
                        <label class="form-label"for="stockLimit"> stock Limit:</label>
                        <br>
                        <input type="number" min=0 max=100 id="stockLimit" name="stockLimit" required pattern="^[0-9]*$">
                    </p>
                    <p class="mt-5">
                        <label class="form-label"for="location"> Location:</label>
                        <br>
                        <input type="text" id="location" name="location" required>
                    </p>

                </div>

            </div>
            
            <button type="submit" class="btn-dashboard btn-sm " id="btn-addForm" name="addItem-form" value="send"> Add </button>
        </form>
    </div>
    </div>

    <div id="myModal-order" class="modal-order">

        <!-- Modal content -->
        <div class="modal-content-order">
          <span class="close1">&times;</span>
          <h3 class="modal-title"> Add New Order </h3>
          <div class="ms-md-auto d-flex align-items-center">
            <button class="btn-sm me-4 " type="button" id="btn-inStock">Add In Stock order</button>
            <button class="btn-sm me-4 " type="button" id="btn-notStock">Not In Stock</button>
            <button class="btn-sm me-4 " type="button" id="addMultOrder">Add Multiple Order</button>
          </div>
          <form class="mt-2" name="addOrder-form" action="{{ url_for('dashboard') }}" method="POST" id="addOrder-form" enctype = "multipart/form-data">
            <div class="row">
                <div class="col-1 file-box upload-btn-wrapper">
                    <div class="fileupload">
                        <img id="output" src="" alt="" width="100" height="100">
                    </div>
                    <br>
                    <div class="file-name"><i class=" fs-5 bi bi-card-image"></i> <span id="imageName"></span></div>
                    <label class="form-label"for="order-myFile" id="upload"> Upload Invoice</label>
                    <input type="file" id="order-myFile" name="filename" onchange="loadFile(event)" >
                </div>
                <div class="col-3" id="form-col-1">
                    <label class="form-label"for="itemName"> Item Name:</label>
                        <br>
                    <input type="text" id="order-itemName" name="itemName">
                        <br>
                    <p class="mt-5">
                        <label class="form-label"for="stock"> Qty:</label>
                        <br>
                        <input type="number" min=0 max=1000 id="order-qty" name="qty"  pattern="^[0-9]*$">
                    </p>

                    <br>
                    <p class="mt-5">
                        <label class="form-label"for="category"> Category:</label>
                        <br>
                        <select id="order-category" name="category">
                            <option value=""></option>
                            <option value="Office Item">Office Item</option>
                            <option value="Kitchen Item">Kitchen Item</option>
                            <option value="Bathroom Item">Bathroom Item</option>
                            <option value="Brand Item">Brand Item</option>
                        </select>
                    </p>
                    <p class="mt-5 pt-5">
                        <label class="form-label"for="order-status"> Order Status:</label>
                        <br>
                        <select id="order-status" name="order-status">
                            <option value=""></option>
                            <option value="Received">Received</option>
                            <option value="Ordered">Ordered</option>
                        </select>
                    </p>
                    
                </div>
                <div class="col-3 pt-1 px-5" id="form-col-2">
                    <label class="" for="comment:">Comment:</label> 
                    <br>
                    <input type="text" id="order-comment" name="comment" >

                    <br>
                    <p class="mt-5 pt-2" id="formCell">
                        <label class="form-label"for="brand"> Brand:</label>
                        <br>
                        <select id="order-brand" name="brand">
                            <option value=""></option>
                            <option value="APPLETON">APPLETON</option>
                                <option value="APERROL">APERROL</option>
                                <option value="CAMPARI">CAMPARI</option>
                                <option value="CANDY CRAZE">CANDY CRAZE</option>
                                <option value="CB">CB</option>
                                <option value="CWP">CWP</option>
                                <option value="ICOOL">ICOOL</option>
                                <option value="DIGICEL">DIGICEL</option>
                                <option value="GUARDSMAN">GUARDSMAN</option>
                                <option value="Hi-LO">Hi-LO</option>
                                <option value="HODDER">HODDER</option>
                                <option value="JFDF">JFDF</option>
                                <option value="KBAN">KBAN</option>
                                <option value="KFC">KFC</option>
                                <option value="KGN 62">KGN 62</option>
                                <option value="MAYBERRY">MAYBERRY</option>
                                <option value="MYSTIQUE">MYSTIQUE</option>
                                <option value="PIZZA HUT">PIZZA HUT</option>
                                <option value="PRICESMART">PRICEMART</option>
                                <option value="RAINFOREST">RAINFOREST</option>
                                <option value="SCOTIA">SCOTIA</option>
                                <option value="SUMFEST">SUMFEST</option>
                                <option value="WOP">WOP</option>   
                        </select>
                    </p>

                    <br>
                    <p class="mt-5 pt-2" id="formCell">
                        <label class="form-label"for="price"> Price:</label>
                        <br>
                        <input type="text" id="order-price" name="price" >
                    </p>
                    <br>
                    <p class="mt-3" id="formCell">
                        <label class="form-label"for="price"> supplier:</label>
                        <br>
                        <input type="text" id="order-supplier" name="supplier" >
                    </p>
                </div>

            </div>
            
            <button type="submit" class="btn-dashboard btn-sm " id="btn-addOrderForm" value="send" name="btn-addOrderForm"> Add </button>
        </form>

        <div class="mt-2"  id="form2">
            <form class="" name="Instock-form" action="{{ url_for('dashboard') }}" id="Instock-form" method="POST" enctype="multipart/form-data" onsubmit="">
                <div class="row">
                    <div class="col-1 file-box upload-btn-wrapper">
                        <div class="fileupload">
                            <img id="output-instock" src="" alt="" width="100" height="100">
                        </div>
                        <br>
                        <div class="filename-instock"><i class=" fs-5 bi bi-card-image"></i> <span id="imageName-instock"></span></div>
                        <label class="form-label"for="instock-myFile" id="upload"> Upload Invoice</label>
                        <input type="file" id="instock-myFile" name="filename" onchange="loadFileInstock(event)" >
                    </div>
                    
                     <div class="col-3" id="form-col-1">
                         <label class="form-label"for="itemName"> Item Name:</label>
                        <br>
                        <select id="order-inStock" name="inStock-item">
                            <option value=""></option>
                        {% for val in stockData %}
                            <option value="{{ val[0]}}">{{ val[1]}}</option>
                        {% endfor %}
                        </select>
                        
                        <br>
                    <p class="mt-5">
                        <label class="form-label"for="inStock-stock"> Qty:</label>
                        <br>
                        <input type="number" min=0 max=1000 id="inStock-qty" name="inStock-qty" required pattern="^[0-9]*$">
                    </p>
                    <br>
                    <p class="mt-5">
                        <label class="form-label"for="inStock-category"> Category:</label>
                        <br>
                        <select id="category" name="inStock-category" required>
                            <option value=""></option>
                            <option value="Office Item">Office Item</option>
                            <option value="Kitchen Item">Kitchen Item</option>
                            <option value="Bathroom Item">Bathroom Item</option>
                            <option value="Brand Item">Brand Item</option>
                        </select>
                    </p>
                    <p class="mt-5 pt-5">
                        <label class="form-label"for="inStock-status"> Order Status:</label>
                        <br>
                        <select id="order-status" name="inStock-status">
                            <option value=""></option>
                            <option value="Received">Received</option>
                            <option value="Ordered">Ordered</option>
                        </select>
                    </p>
                    </div>

                    <div class="col-3 pt-1 px-5" id="form-col-2">
                        <label class="" for="comment">Comment:</label> 
                        <br>
                        <input type="text" id="inStock-comment" name="inStock-comment" required>
    
                        <br>
                        <p class="mt-5 pt-2" id="formCell">
                            <label class="form-label"for="inStock-brand"> Brand:</label>
                            <br>
                            <select id="brand" name="inStock-brand" required>
                                <option value=""></option>
                                <option value="APPLETON">APPLETON</option>
                                <option value="APERROL">APERROL</option>
                                <option value="CAMPARI">CAMPARI</option>
                                <option value="CANDY CRAZE">CANDY CRAZE</option>
                                <option value="CB">CB</option>
                                <option value="CWP">CWP</option>
                                <option value="ICOOL">ICOOL</option>
                                <option value="DIGICEL">DIGICEL</option>
                                <option value="GUARDSMAN">GUARDSMAN</option>
                                <option value="Hi-LO">Hi-LO</option>
                                <option value="HODDER">HODDER</option>
                                <option value="JFDF">JFDF</option>
                                <option value="KBAN">KBAN</option>
                                <option value="KFC">KFC</option>
                                <option value="KGN 62">KGN 62</option>
                                <option value="MAYBERRY">MAYBERRY</option>
                                <option value="MYSTIQUE">MYSTIQUE</option>
                                <option value="PIZZA HUT">PIZZA HUT</option>
                                <option value="PRICESMART">PRICEMART</option>
                                <option value="RAINFOREST">RAINFOREST</option>
                                <option value="SCOTIA">SCOTIA</option>
                                <option value="SUMFEST">SUMFEST</option>
                                <option value="WOP">WOP</option>   
                            </select>
                        </p>
    
                        <br>
                        <p class="mt-5 pt-2" id="formCell">
                            <label class="form-label"for="inStock-price"> Price:</label>
                            <br>
                            <input type="text" id="price" name="inStock-price" required>
                        </p>
                        <br>
                        <p class="mt-3" id="formCell">
                            <label class="form-label"for="inStock-price"> supplier:</label>
                            <br>
                            <input type="text" id="supplier" name="inStock-supplier" required>
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn-dashboard btn-sm " id="btn-inStockForm" name="btn-inStockForm" value="send"> Add </button>

            </form>

        </div>
        <div class="mt-2" id="multOrderForm">
            <h3 class="multOrder-title"> Add Multiple New Order </h3>
            <form action="" enctype = "multipart/form-data" method="POST" >
                <div class="row">
                    <div class="col-1 file-box upload-btn-wrapper">
                        <div class="fileupload">
                            <img id="output-multOrder" src="" alt="" width="100" height="100">
                        </div>
                        <br>
                        <div class="fileName-multOrder"><i class=" fs-5 bi bi-card-image"></i> <span id="imageName-multOrder"></span></div>
                        <label class="form-label"for="multOrder-myFile" id="upload"> Upload Invoice</label>
                        <input type="file" id="multOrder-myFile" name="filename" onchange="loadFileMultOrder(event)" >
                    </div>

                    <div class="col-3" id="form-col-1">
                        <label class="form-label"for="multOrder-itemName"> Item Name:</label>
                        <br>
                        <select id="multOrder-itemName" name="multOrder-itemName">
                            <option value=""></option>
                        {% for val in itemData %}
                            <option value="{{ val[0]}}">{{ val[1]}}</option>
                        {% endfor %}
                        </select>

                        <p class="mt-5">
                            <label class="form-label"for="multOrder-stock"> Qty:</label>
                            <br>
                            <input type="number" min=0 max=1000 id="multOrder-qty" name="multOrder-qty" required pattern="^[0-9]*$">
                        </p>

                        <p class="mt-5">
                            <label class="form-label"for="multOrder-category"> Category:</label>
                            <br>
                            <select id="multOrder-category" name="multOrder-category" required>
                                <option value=""></option>
                                <option value="Office Item">Office Item</option>
                                <option value="Kitchen Item">Kitchen Item</option>
                                <option value="Bathroom Item">Bathroom Item</option>
                                <option value="Brand Item">Brand Item</option>
                            </select>
                        </p>
                        <p class="mt-5">
                            <label class="form-label"for="multOrder-status"> Order Status:</label>
                            <br>
                            <select id="multOrder-status" name="multOrder-status">
                                <option value=""></option>
                                <option value="Received">Received</option>
                                <option value="Ordered">Ordered</option>
                            </select>
                        </p>

                    </div>

                    <div class="col-3 pt-1 px-5" id="form-col-2">
                        <label class="" for="comment">Comment:</label> 
                        <br>
                        <input type="text" id="multOrder-comment" name="multOrder-comment" required>

                        <p class="mt-5">
                            <label class="form-label"for="multOrder-department"> Department:</label>
                            <br>
                            <select id="multOrder-department" name="multOrder-department" required>
                                <option value=""></option>
                                <option value="Operation">Operation</option>
                                <option value="AE">AE</option>
                                <option value="LAPD">LAPD</option>
                                <option value="DIGIMONS">DIGIMONS</option>
                                <option value="CPU">CPU</option>
                                <option value="PR">Pr</option>  
                            </select>
                        </p>
                        <p class="mt-5 pt-2" id="formCell">
                            <label class="form-label"for="multOrder-price"> Price:</label>
                            <br>
                            <input type="number" min=0 max=1000000 id="multOrder-price" name="multOrder-price" required pattern="^[0-9]*$">
                        </p>

                        <p class="mt-4" id="formCell">
                            <label class="form-label"for="multOrder-supplier"> supplier:</label>
                            <br>
                            <input type="text" id="multOrder-supplier" name="multOrder-supplier" required>
                        </p>
                    </div>

                </div>
                <div class="ms-md-auto d-flex align-items-center justify-content-center">
                    <button class="btn-sm me-4 " type="button" id="multOrder-btnSave"> save</button>
                </div>


            </form>
            <div class="" id="SavedOrderData">
                <h5 class="modal-title mt-5"> Save Order List</h5>
                <button type="button" class="btn-dashboard btn-sm  submitBtn" id="btn-multOrderForm" name="btn-multOrderForm" value="send"> Submit All </button>
            </div> 
        </div>
        
    </div>
    </div>
    
    <div class="dashboard-stock-box">
        <h3 class="stock-box-title"> Stock</h3>
        <form action="" class="mt-2 sortform" name="sortform">
            <div class="filter-box">
                <label for="category-filter">Category:</label>
                <select id="category-filter" name="categoryList">
                    <option value=""></option>
                    <option value="Office Item">Office Item</option>
                    <option value="Kitchen Item"> Kitchen Item</option>
                 </select>
            </div>
            <div class="filter-box">
                <label for="brand-filter">Brand:</label>
                <select id="brand-filter" name="brandList">
                    <option value=""></option>
                    <option value="APPLETON">APPLETON</option>
                    <option value="APERROL">APERROL</option>
                    <option value="CAMPARI">CAMPARI</option>
                    <option value="CANDY CRAZE">CANDY CRAZE</option>
                    <option value="CB">CB</option>
                    <option value="CWP">CWP</option>
                    <option value="ICOOL">ICOOL</option>
                    <option value="DIGICEL">DIGICEL</option>
                    <option value="GUARDSMAN">GUARDSMAN</option>
                    <option value="Hi-LO">Hi-LO</option>
                    <option value="HODDER">HODDER</option>
                    <option value="JFDF">JFDF</option>
                    <option value="KBAN">KBAN</option>
                    <option value="KFC">KFC</option>
                    <option value="KGN 62">KGN 62</option>
                    <option value="MAYBERRY">MAYBERRY</option>
                    <option value="MYSTIQUE">MYSTIQUE</option>
                    <option value="PIZZA HUT">PIZZA HUT</option>
                    <option value="PRICESMART">PRICEMART</option>
                    <option value="RAINFOREST">RAINFOREST</option>
                    <option value="SCOTIA">SCOTIA</option>
                    <option value="SUMFEST">SUMFEST</option>
                    <option value="WOP">WOP</option>   
                 </select>
            </div>
            <div class="filter-box">
                <label for="department-filter">Department:</label>
                <select id="department-filter" name="departmentList">
                    <option value=""></option>
                    <option value="Operation">Operation</option>
                    <option value="AE">AE</option>
                    <option value="LAPD">LAPD</option>
                    <option value="DIGIMONS">DIGIMONS</option>
                    <option value="CPU">CPU</option>
                    <option value="PR">Pr</option>
                 </select>
            </div>

            <div class="filter-box">
                <label for="sort-by">Sort by:</label>
                <select id="sort-by" name="sort-by">
                    <option value=""></option>
                    <option value="Low Stock">Low Stock</option>
                    <option value="New Stock"> New Stock</option>
                 </select>     
            </div>
            <button class=" btn-sm mx-2 " type="button" id="filterBtn"> <span class=" btn-filter-text p-1"> Filter </span> </button>  
        </form>
        <div class="pt-2 d-flex align-items-center stock-search">
            <form class="d-flex ">
                <input class="stockSearch" type="text" placeholder="Search"  id="top-nav-form" onkeyup="stockSearch()" >
             </form>
        </div>
       
        <div class="mt-5">
            <table class="table table-bordered  border-dark" id="stock-table">
                <thead>
                    <tr class="table-header">
                      <th scope="col"></th>
                      <th scope="col">Item No#.</th>
                      <th scope="col">Item</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Description</th>
                      <th scope="col">Comment</th>
                      <th scope="col">Brand</th>
                      <th scope="col">Department</th>
                      <th scope="col">Category</th>
                      <th scope="col">Location</th>
                      <th scope="col">Log By</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for stock in stockData %}
                    <tr class="data">
                        <td scope="row" class="marker">
                            {% if stock[2] < 5 %}
                            <img src="../static/assets/maker-active.png" alt=""  width="15" height="15" " alt="" class="mark-img">
                            {% else %}
                            <img src="../static/assets/marker.png" alt=""  width="15" height="15" " alt="" class="mark-img">
                            {% endif %}
                        </td>
                        <td style="width: 5px" class="stockId">{{ stock[0]}}</td>
                        <td class="stock-itemName"> 
                            {% if stock[11] == 'None' %}
                            <img src="https://storage.googleapis.com/misystem_items/images.png" alt=""  width="20" height="20"  alt=""class="img">
                            {% else %}
                            <img src="{{stock[11]}}" alt=""  width="50" height="50"  alt="" class="img">
                            {% endif %}
                            <br>
                            <br>
                            <p class="item">{{stock[1]}}</p>
                        </td>
                        <td class="stock-qty">{{stock[2]}}</td>
                        <td style="width: 200px" class="stock-description">{{ stock[3]}}</td>
                        <td style="width: 100px" class="stock-comment">{{ stock[4]}}</td>
                        <td class="stock-brand"><span id="{{ stock[5]}}">{{ stock[5]}}</span></td>
                        <td class="stock-department" > <span id="{{ stock[6]}}">{{ stock[6]}}</span></td>
                        <td class="stock-category">{{ stock[7]}}</td>
                        <td class="stock-location">{{ stock[8]}}</td>
                        <td class="stock-logBy">{{ stock[12]}}
                            <p class="freq" hidden>{{ stock[10]}}</p>
                            <p class="stockLimit" hidden>{{ stock[9]}}</p>
                        </td>
                        <td class="stock-action">
                            <button class="tableBtn editBtn"> <i class=" fs-6 tableIcon bi bi-pencil-fill"></i></button>
                            <button class="tableBtn stock-modifyBtn"> <i class=" fs-6 tableIcon-modify bi-cloud-fill"></i></button>
                            <button class="tableBtn stock-deleteBtn"> <i class=" fs-6 tableIcon-delete bi bi-trash-fill"></i></button>
                            
                        </td>
                        
                      </tr> 


                    {% endfor %}
                  </tbody>

            </table>
            <a href=""class="seeMoreBtn mb-2"> SEE MORE <i class=" bi-arrow-right"> </i></a>
        </div>
         <div id="myModal-edit" class="modal-edit">

        <!-- Modal content -->
        <div class="modal-content-stock">
          <span class="close2">&times;</span>
          <form name="editItem-form" class="" action="{{ url_for('dashboard') }}" id="editForm" method="POST" enctype="multipart/form-data">
            <div class="row edForm">
                <div class="col-1 file-box upload-btn-wrapper">
                    <div class="fileupload">
                        <img id="output-editItem" src="" alt="" width="100" height="100">
                    </div>
                    <br>
                    <div class="filename-editItem"><i class=" fs-5 bi bi-card-image"></i> <span id="imageName-editItem"></span></div>
                    <label class="form-label"for="myFile-editItem" id="upload"> Upload Image</label>
                    <input type="file" id="myFile-editItem" name="filename">
                </div>
                <div class="col-3" id="form-col-1">
                    <label class="form-label"for="itemName-edit"> Item Name:</label>
                        <br>
                    <input type="text" id="itemName-edit" name="itemName-edit"required>
                        <br>
                    <p class="mt-5">
                        <label class="form-label"for="stock"> Stock:</label>
                        <br>
                        <input type="number" min=0 max=100 id="stock-edit" name="stock-edit" required pattern="^[0-9]*$">
                    </p>
                    <br>
                    <p class="mt-5">
                        <label class="form-label"for="brand-edit"> Brand:</label>
                        <br>
                        <select id="brand-edit" name="brand-edit" required>
                            <option value=""></option>
                            <option value="APPLETON">APPLETON</option>
                            <option value="APERROL">APERROL</option>
                            <option value="CAMPARI">CAMPARI</option>
                            <option value="CANDY CRAZE">CANDY CRAZE</option>
                            <option value="CB">CB</option>
                            <option value="CWP">CWP</option>
                            <option value="ICOOL">ICOOL</option>
                            <option value="DIGICEL">DIGICEL</option>
                            <option value="GUARDSMAN">GUARDSMAN</option>
                            <option value="Hi-LO">Hi-LO</option>
                            <option value="HODDER">HODDER</option>
                            <option value="JFDF">JFDF</option>
                            <option value="KBAN">KBAN</option>
                            <option value="KFC">KFC</option>
                            <option value="KGN 62">KGN 62</option>
                            <option value="MAYBERRY">MAYBERRY</option>
                            <option value="MYSTIQUE">MYSTIQUE</option>
                            <option value="PIZZA HUT">PIZZA HUT</option>
                            <option value="PRICESMART">PRICEMART</option>
                            <option value="RAINFOREST">RAINFOREST</option>
                            <option value="SCOTIA">SCOTIA</option>
                            <option value="SUMFEST">SUMFEST</option>
                            <option value="WOP">WOP</option> 
                        </select>
                    </p>
                    <br>

                    <p class="mt-5">
                        <label class="form-label"for="department"> Department:</label>
                        <br>
                        <select id="department-edit" name="department-edit" required>
                            <option value=""></option>
                            <option value="Operation">Operation</option>
                            <option value="AE">AE</option>
                            <option value="LAPD">LAPD</option>
                            <option value="DIGIMONS">DIGIMONS</option>
                            <option value="CPU">CPU</option>
                            <option value="PR">Pr</option>
                        </select>
                    </p>
                    <br>
                    <p class="mt-5">
                        <label class="form-label"for="freqChange-edit"> Frequent items:</label>
                        <br>
                        <select id="freqChange-edit" name="freqChange-edit">
                            <option value=""></option>
                            <option value="yes">yes</option>
                            <option value="no"> no</option>
                        </select>
                    </p>

                </div>
                <div class="col-3 pt-1 px-5" id="form-col-2">
                    <label class="" for="Description">Description:</label> 
                    <br>
                    <input type="text" id="Description-edit" name="Description-edit" required>

                    <br>
                    <p class="mt-5 pt-2" id="formCell">
                        <label class="form-label"for="comment"> Comment:</label>
                        <br>
                        <input type="text" id="comment-edit" name="comment-edit" required>
                    </p>
                    <br>
                    <p class="mt-5 pt-1" id="formCell">
                        <label class="form-label"for="category-edit"> Category:</label>
                        <br>
                        <select id="category-edit" name="category-edit" required>
                            <option value=""></option>
                            <option value="Office Item">Office Item</option>
                            <option value="Kitchen Item">Kitchen Item</option>
                            <option value="Bathroom Item">Bathroom Item</option>
                            <option value="Brand Item">Brand Item</option>
                        </select>
                    </p>
                    <br>
                    <p class="mt-4 pt-3" id="formCell">
                        <label class="form-label"for="stockLimit-edit"> stock Limit:</label>
                        <br>
                        <input type="number" min=0 max=100 id="stockLimit-edit" name="stockLimit-edit" required pattern="^[0-9]*$">
                    </p>

                    <p class="mt-5">
                        <label class="form-label"for="location"> Location:</label>
                        <br>
                        <input type="text" id="location-edit" name="location-edit" required>
                    </p>

                    <br>
                    <p class="mt-5 pt-2" id="formCell" hidden>
                        <input type="text" id="stockId-edit" name="stockId-edit" required>
                    </p>

                </div>

            </div>
            
            <button type="submit" class="btn-dashboard btn-sm " id="btn-addForm" value="send" name="editItem"> Add Update </button>
            
        </form>
        <div id="modify-box">
            <h3 class="modal-title"> Modify Data </h3>
            <table class="table" id="modify-table">
                <thead>
                    <tr class="table-header">
                      <th scope="col">Item</th>
                      <th scope="col">New Value</th>
                      <th scope="col">Old Value</th>
                      <th scope="col">Date</th>
                      <th scope="col">User</th>
                    </tr>
                  </thead>
                  <tbody id="modify-data">
                    
                  </tbody>
            </table>

        </div>
    </div>
    </div>
    </div>
    <div class="dashboard-order-box">
        <h3 class="order-box-title"> Order </h3>
        <form action="" class="mt-2 sortform" name="sortform">
            <div class="filter-box">
                <label for="order-category-filter">Category:</label>
                <select id="order-category-filter" name="categoryList">
                    <option value=""></option>
                    <option value="Office Item">Office Item</option>
                    <option value="Kitchen Item">Kitchen Item</option>
                 </select>
            </div>
            <div class="filter-box">
                <label for="order-brand-filter">Brand:</label>
                <select id="order-brand-filter" name="brandList">
                    <option value=""></option>
                    <option value="Mystique">Mystique</option>
                    <option value="AE"> AE</option>
                 </select>
            </div>
            <div class="filter-box">
                <label for="sort-by">Sort by date:</label>
                <select id="order-sort-by" name="sort-by">
                    <option value=""></option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                 </select>     
            </div>
            <button class=" btn-sm mx-2 " type="button" id="order-filterBtn"> <span class=" btn-filter-text p-1"> Filter </span> </button>  
        </form>
        <div class="pt-2 d-flex align-items-center order-search">
            <form class="d-flex ">
                <input class="orderSearch" type="text" placeholder="Search"  id="top-nav-form" onkeyup="orderSearch()" >
             </form>
        </div>
        <div class="mt-5">
            <table class="table table-bordered border-dark " id="order-table">
                <thead>
                    <tr class="table-header">
                      <th scope="col"></th>
                      <th scope="col">#</th>
                      <th scope="col">Item</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Comment</th>
                      <th scope="col">Brand</th>
                      <th scope="col">Category</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date</th>
                      <th scope="col">Price</th>
                      <th scope="col">Log By</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orderData %}
                    <tr class="order-data">
                        <td class="">
                            <img src="../static/assets/marker.png"" alt=""  width="15" height="15" " alt="" class="mark-img">
                        </td>
                        <td scope="row" class="orderId">{{ order[0]}}</td>
                        <td class="order-itemName">{{ order[1]}}</td>
                        <td class="order-qty">{{ order[2]}}</td>
                        <td style="width: 300px;" class="order-comment">{{ order[3]}}</td>
                        <td class="order-brand"><span id="{{ order[4]}}">{{ order[4]}}</span> </td>
                        <td class="order-category">{{ order[5]}}</td>
                        <td class="orderStatus"><span id="{{order[6]}}">{{ order[6]}}</span></td>
                        <td class="order-date">{{ order[7]}}</td>
                        <td class="order-price">{{ order[8]}}</td>
                        <td class="orderLog">{{ order[10]}}</td>
                        <td class="order-action">
                            <button class="tableBtn orderEditBtn"> <i class=" fs-6 tableIcon bi bi-pencil-fill"></i></button>
                            <button class="tableBtn order-modifyBtn"> <i class=" fs-6 tableIcon-modify bi-cloud-fill"></i></button>
                            <button class="tableBtn"> <i class=" fs-6 tableIcon-delete bi bi-trash-fill"></i></button>
                        </td>
                        
                      </tr> 

                    {% endfor %}
                  </tbody>

            </table>
            <a href="{{ url_for('order') }}"class="seeMoreBtn mb-2"> SEE MORE <i class=" bi-arrow-right"> </i></a>


            <div id="myModal-order-edit" class="orderModel-edit">
                <!-- Modal content -->
                <div class="modal-content-order">
                  <span class="close3">&times;</span>
                  <form name="addOrder-form" class="" action="{{ url_for('dashboard') }}" id="editOrder-form" method="POST">
                    <div class="row">
                        <div class="col-3" id="form-col-1">
                            <label class="form-label"for="itemName"> Item Name:</label>
                                <br>
                            <input type="text" id="itemName-orderEdit" name="itemName-orderEdit"required>
                                <br>
                            <p class="mt-5">
                                <label class="form-label"for="stock"> Qty:</label>
                                <br>
                                <input type="number" min=0 max=1000 id="qty-orderEdit" name="qty-orderEdit" required pattern="^[0-9]*$">
                            </p>
        
                            <br>
                            <p class="mt-5">
                                <label class="form-label"for="category-orderEdit"> Category:</label>
                                <br>
                                <select id="category-orderEdit" name="category-orderEdit">
                                    <option value=""></option>
                                    <option value="Office Item">Office Item</option>
                                    <option value="Kitchen Item">Kitchen Item</option>
                                    <option value="Bathroom Item">Bathroom Item</option>
                                    <option value="Brand Item">Brand Item</option>
                                </select>
                            </p>
                            <p class="mt-5 pt-5">
                                <label class="form-label"for="status"> Order Status:</label>
                                <br>
                                <select id="order-statusEdit" name="order-statusEdit">
                                    <option value=""></option>
                                    <option value="Received">Received</option>
                                    <option value="Ordered">Ordered</option>
                                </select>
                            </p>
                        </div>
                        <div class="col-3 pt-1 px-5" id="form-col-2">
                            <label class="" for="comment:">Comment:</label> 
                            <br>
                            <input type="text" id="comment-orderEdit" name="comment-orderEdit" required>
        
                            <br>
                            <p class="mt-5 pt-2" id="formCell">
                                <label class="form-label"for="brand"> Brand:</label>
                                <br>
                                <select id="brand-orderEdit" name="brand-orderEdit">
                                    <option value=""></option>
                                    <option value="Mystique">Mystique</option>
                                    <option value="AE">AE</option>
                                    <option value="LAPD">LAPD</option>
                                </select>
                            </p>
        
                            <br>
                            <p class="mt-5 pt-2" id="formCell">
                                <label class="form-label"for="price"> Price:</label>
                                <br>
                                <input type="text" id="price-orderEdit" name="price-orderEdit" required>
                            </p>
                            <p class="mt-5 pt-2" id="formCell" hidden>
                                <input type="text" id="orderId-edit" name="orderId-edit" required>
                            </p>
                        </div>
        
                    </div>
                    
                    <button type="submit" class="btn-dashboard btn-sm " id="btn-addForm" value="send" name="orderEditItem"> Add </button>
                    
                </form>
                <div id="orderModify-box">
                    <h3 class="modal-title"> Modify Data </h3>
                    <table class="table" id="modify-table">
                        <thead>
                            <tr class="table-header">
                              <th scope="col">Item</th>
                              <th scope="col">New Value</th>
                              <th scope="col">Old Value</th>
                              <th scope="col">Date</th>
                              <th scope="col">User</th>
                            </tr>
                          </thead>
                          <tbody id="orderModify-data">
                            
                          </tbody>
                    </table>
        
                </div>
            </div>
            </div>
        </div>   
    </div>
    
    <div class="dashboard-invoice-box">
        <h3 class="invoice-box-title"> Invoice </h3>
        <form action="" class="mt-5 sortform" name="sortform">
            <div class="filter-box">
                <label for="supplier-filter">Supplier:</label>
                <select id="supplier-filter" name="supplierList">
                    <option value=""></option>
                    {% for val in supplier %}
                    <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                 </select>

            </div>
            <div class="filter-box">
                <label for="sort-by">Sort by date:</label>
                <select id="invoice-sort-by" name="sort-by">
                    <option value=""></option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                 </select>     
            </div>
            <button class=" btn-sm mx-2 " type="button" id="invoice-filterBtn"> <span class=" btn-filter-text p-1"> Filter </span> </button> 
        </form>
        <div class="pt-2 d-flex align-items-center invoiceSearch">
            <form class="d-flex ">
                <input class="DashInvo" type="text" placeholder="Search"  id="top-nav-form" onkeyup="DashInvoSearch()" >
             </form>
        </div>
        <div class="mt-5">
       
        <table class="table" id="invoice-table">
            <thead>
                <tr class="table-header">
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Date</th>
                    <th scope="col">Log By</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoiceData %}
            <tr class="invoiceData">
                <td>
                    <img src="../static/assets/marker.png"" alt=""  width="15" height="15" " alt="" class="mark-img">
                </td>
                <td scope="row" class="inoviceId">{{ invoice[0]}}</td>
                <td class="DashInvo-img">
                    {% if invoice[3] == 'None' %}
                    <img src="https://storage.googleapis.com/misystem_items/images.png" alt=""  width="20" height="20"  alt=""class="img">
                    {% else %}
                    <img src="{{ invoice[3]}}" alt=""  width="50" height="50"  alt="" class="img">
                    {% endif %}
                </td>
                <td scope="row" class="inoviceSupplier">{{ invoice[1]}}</td>
                <td scope="row" class="inoviceData">{{ invoice[4]}}</td>
                <td scope="row" class="inoviceLog">{{ invoice[5]}}</td>
                <td class="stock-action">
                    <button class="tableBtn inovice-editBtn"> <i class=" fs-6 tableIcon bi bi-pencil-fill"></i></button>
                    <button class="tableBtn inovice-modifyBtn"> <i class=" fs-6 tableIcon-modify bi-cloud-fill"></i></button>
                    <button class="tableBtn inovice-downloadBtn"> <i class=" fs-6 tableIcon-download bi bi-box-arrow-down"></i></button>
                    <button class="tableBtn inovice-deleteBtn"> <i class=" fs-6 tableIcon-delete bi bi-trash-fill"></i></button>
                </td>   
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <a href="{{ url_for('invoice') }}"class="seeMoreBtn mb-2"> SEE MORE <i class=" bi-arrow-right"> </i></a>
        </div>
        <div id="myModal-inovice-edit" class="inoviceModel-edit">
            <!-- Modal content -->
            <div class="modal-content-inovice">
              <span class="close4">&times;</span>
              <form name="addInovice-form" class="" action="{{ url_for('dashboard') }}" id="InoviceOrder-form" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-1 file-box upload-btn-wrapper">
                        <div class="fileupload">
                            <img id="output-inoviceItem" src="" alt="" width="100" height="100">
                        </div>
                        <br>
                        <div class="filename-inovice"><i class=" fs-5 bi bi-card-image"></i> <span id="imageName-inoviceItem"></span></div>
                        <label class="form-label"for="myFile-inoviceItem" id="upload"> Upload Image</label>
                        <input type="file" id="myFile-inoviceItem" name="filename" onchange="loadFileDashInvo(event)">
                    </div>
                    <div class="col-3" id="form-col-1">
                        <label class="form-label"for="inovice-editSupp"> Supplier:</label>
                        <br>
                        <input type="text" id="inovice-editSupp" name="inovice-editSupp"required> 

                        <p class="mt-5 pt-2" id="formCell" hidden>
                            <input type="text" id="inoviceId-edit" name="inoviceId-edit" required>
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn-dashboard btn-sm " id="btn-addForm" value="send" name="DashInovEditItem"> Add </button>
              </form>
              <div id="invoiceModify-box">
                <h3 class="modal-title"> Modify Data </h3>
                <table class="table" id="modify-table">
                    <thead>
                        <tr class="table-header">
                          <th scope="col">Invoice NO#</th>
                          <th scope="col">New Value</th>
                          <th scope="col">Old Value</th>
                          <th scope="col">Date</th>
                          <th scope="col">User</th>
                        </tr>
                      </thead>
                      <tbody id="invoiceModify-data"></tbody>
                </table>
    
            </div>

            </div>
        </div>
    
    </div>

    <script type="text/javascript" src="../static/js/dashboard.js"></script>
</div>

{% endblock %}