
    <div class="col mt-3 px-0 " id="top-nav">
        <nav class="navbar navbar-main navbar-expand-lg " navbar-scroll="true">
            <div class="container-fluid">
                <div class="me-md-auto pt-2 d-flex align-items-center ">
                    <form class="d-flex ">
                        <input class="form-control me-2 form-control-sm" type="search" placeholder="Search" aria-label="Search" id="top-nav-form">
                        <button class=" btn btn-sm me-2 " type="submit">Search</button>
                     </form>
                </div>
                <div class="ms-md-auto d-flex align-items-center pt-2">
                    <div class="collapse navbar-collapse">
                        <a href="">
                            <i class="fs-6 bi-brightness-high-fill px-2 " id="top-nav-icon"></i>
                        </a>
                        <a href="">
                            <i class="fs-6 bi-gear-fill px-2 " id="top-nav-icon"></i>
                        </a>
                        <a href="">
                            <i class="fs-6 bi-bell-fill px-2 " id="top-nav-icon"></i>
                        </a>
                        <img src="../static/assets/warren-wong-VVEwJJRRHgk.jpg" alt=""  width="50" height="30" class="rounded-circle px-2"  id="top-nav-img">
                        <span class="" id="top-nav-username"> Jevoy </span>
                        <a href="">
                            <i class="fs-6 bi-caret-down-fill px-1" id="top-nav-icon"></i>
                        </a>
                    </div>

                </div>
                

            </div>
        </nav>


        </div>
