
            <div class=" mx-3 " id="Menu">
                <ul class="nav nav-pills flex-column align-items-center"  >
                    <div class="active mt-4 sidemenu" id="menu-optoin">
                        <div class=" active mx-4 mt-3 " id="cricle-background">
                            <li class="nav-item ">
                                <a href="{{ url_for('dashboard') }}" class="nav-link ">
                                    <i class=" active fs-4 bi-house-fill pt-3 " id="fa"></i>
                                </a>
                            </li>
                        </div>
                        <a class="active " id="menu-text" href="{{ url_for('dashboard') }}">
                            <span class="ps-4 ms-2 ">Home</span>
                        </a>
                    </div>
                    <div class=" sidemenu mt-5 pt-1"  id="menu-optoin">
                        <div class=" mx-4 mt-3" id="cricle-background"  >
                            <li class="nav-item sidemenu">
                                <a href="#" class="nav-link ">
                                    <i class="fs-4 bi-menu-button-wide pt-3 " id="fa"></i>
                                </a>
                            </li>
                        </div>
                        <a class="" id="menu-text" href="#">
                            <span class="ps-4 ">In Stock</span>
                        </a>
                    </div>
                    <div class="mt-5"  id="menu-optoin">
                        <div class=" mx-4 mt-3" id="cricle-background">
                            <li class="nav-item sidemenu">
                                <a href="#" class="nav-link ">
                                    <i class="fs-4 bi-receipt-cutoff pt-3 " id="fa"></i>
                                </a>
                            </li>
                        </div>
                        <a class=" " id="menu-text" href="#">
                            <span class="ps-4 ">Invoice</span>
                        </a>
                    </div>
                    <div class=" sidemenu mt-5"  id="menu-optoin">
                        <div class="mx-4 mt-3" id="cricle-background">
                            <li class="nav-item sidemenu">
                                <a href="#" class="nav-link ">
                                    <i class="fs-4 bi-card-checklist pt-3 " id="fa"></i>
                                </a>
                            </li>
                        </div>
                        <a class=" " id="menu-text" href="#">
                            <span class="ps-3">Checkout</span>
                        </a>
                    </div>
                    <div class="sidemenu mt-5"  id="menu-optoin">
                        <div class="mx-4 mt-3" id="cricle-background">
                            <li class="nav-item sidemenu">
                                <a href="#" class="nav-link ">
                                    <i class="fs-4 bi-cart-check-fill pt-3 " id="fa"></i>
                                </a>
                            </li>
                        </div>
                        <a class=" " id="menu-text" href="#">
                            <span class="ps-4">Order</span>
                        </a>
                    </div>
                    <div class=" sidemenu mt-5"  id="menu-optoin">
                        <div class=" mx-4 mt-3" id="cricle-background">
                            <li class="nav-item sidemenu">
                                <a href="#" class="nav-link ">
                                    <i class="fs-4 bi-bar-chart-fill pt-3 " id="fa"></i>
                                </a>
                            </li>
                        </div>
                        <a class=" " id="menu-text" href="#">
                            <span class="ps-4">Report</span>
                        </a>
                    </div>
                    <div class="space">
                    </div>
                </ul>
            </div>

       
   
